<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
{% if messages %}
    <div class="modal fade show" id="myModal" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">UYARI!</h4>
                    <button type="button" class="close" data-dismiss="modal" onclick="hideModal()">&times;</button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="hideModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function hideModal() {
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
        }
    </script>